.footer {
  border-top: 1px solid #222121;
  background-color: #1a1a1a;
  background-image: url("/images/footer_back.svg");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
  @media (max-width: 992px) {
    background-image: url("/images/footer_back_mob.svg");
    background-position: left bottom;
  }
  .footerTop {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    gap: 120px;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 32px;
      margin-bottom: 32px;
    }
    .footerTopLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 46px;
      width: 50%;
      @media (max-width: 992px) {
        width: 100%;
      }
      .footerNavigations {
        display: flex;
        gap: 40px;
        padding-left: 20px;
        @media (max-width: 992px) {
          padding-left: 0;
          flex-wrap: wrap;
          gap: 16px;
          row-gap: 24px;
          width: 100%;
        }
        nav {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          @media (max-width: 992px) {
            width: calc(50% - 8px);
          }
          &:last-child {
            @media (max-width: 992px) {
              display: none;
            }
          }
          h3 {
            color: var(--white, #fff);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 25.2px */
          }
          a {
            color: var(--white, #fff);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 25.2px */
            @media (max-width: 992px) {
              font-size: 16px;
            }
          }
        }
      }
    }
    .footerBottomImageMob {
      display: none;
      @media (max-width: 992px) {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .footerTopRight {
      width: 50%;
      position: relative;
      display: flex;
      justify-content: space-between;
      margin-top: 75px;
      @media (max-width: 992px) {
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin: 0;
      }
      .addresses {
        display: flex;
        flex-direction: column;
        gap: 26px;
        @media (max-width: 992px) {
          flex-direction: column;
        }
      }
      > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        @media (max-width: 992px) {
          width: 100%;
          position: relative;
          left: unset !important;
          top: unset !important;
          transform: unset !important;
          right: unset !important;
          bottom: unset !important;
          width: calc(50% - 8px) !important;
          &:last-child {
            width: 100% !important;
          }
        }
        &.office {
        }
        &.registered {
        }
        &.contact {
          left: 0;
          bottom: 40px;
          >div{
            &:last-child{
              margin-top: 24px;
            }
          }
        }
        h3 {
          color: var(--white, #fff);
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 140%;
          margin-bottom: 12px;
        }
        h4 {
          color: var(--white, #fff);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 25.2px */
        }
        p,
        a {
          color: rgba(255, 255, 255, 0.6);
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }
    }
  }
  .footerBottomImage {
    width: 100%;
    height: auto;
    margin-top: 120px;
    @media (max-width: 992px) {
      display: none;
    }
  }
  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    @media (max-width: 992px) {
      flex-direction: column;
      gap: 24px;
      align-items: flex-start;
    }
    .footerBottomLeft {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: 24px;
      }
      a {
        display: flex;
        svg {
          path {
            fill: #fff;
          }
        }
        &:last-child {
          svg {
            path {
              fill: #1a1a1a;
            }
            rect {
              fill: #fff;
            }
          }
        }
      }
    }
    .footerBottomRight {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: 992px) {
        align-items: flex-start;
        padding-top: 20px;
        border-top: 1px solid #262626;
      }
      p {
        color: var(--white, #fff);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
      }
    }
    .legalMobile {
      display: none;
      @media (max-width: 992px) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        row-gap: 16px;
        max-width: 80%;
        a {
          color: var(--white, #fff);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 19.6px */
        }
      }
    }
  }
}
