.tag {
  display: flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 100px;
  background: var(--White-0, #fff);
  color: #3b3b35;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &.white {
    background: #fff;
  }
  &.grey {
    background: #EAEAEA;
  }
}
