.sectionTitle {
  color: #01010d;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
  @media (max-width: 992px) {
    font-size: 32px;
  }
}
